@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

nav{
  margin-top: 10px;
  text-decoration: none;
  color: #22011c;
  font-size: large;
}

.dadosCliente{
  margin: 20px;
}